################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

.vs
*/.vs
*/.vscode
*/bin
*/obj
*\pub
bin
Debug
Release
obj
*.user
/nugetpack
